body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
}

.container {
	margin: auto;
	width: 90%;
}

#test1-container {
	padding: 20px;
	width: 780px;
	height: 580px;
	margin: auto;
	border: 2px solid black;
	overflow: hidden;
}

#test1 {
	border: 1px solid black;
	height: 500px;
}